<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agiles Vorgehen</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Agiles Vorgehen</h1>
    <p>Ein Ansatz, der in letzter Zeit viel Anklang findet, sind „agile“ Methoden. Darunter wird eine Bündelung von Maßnahmen und Vorgehensweisen verstanden, die einen leichtgewichtigen Ansatz mit hoher Flexibilität darstellen. In den letzten Jahren haben sich viele agile Vorgehensweisen entwickelt.
Zentrale Bestandteile der agilen Methoden sind frühes Einsteigen in die Codierung, starke Einbeziehung der Nutzer, beständiges Testen und die Weiterentwicklung der Architektur. Diese Werte wurden im „Agilen Manifest“ niedergeschrieben. Werte beschreiben die grundlegende Philosophie der agilen Entwicklung, und zwar:
<ul>
   <li>Individuals and interactions over processes and tools</li>
   <li>Working software over comprehensive documentation</li>
   <li>Customer collaboration over contract negotiation</li>
   <li>Responding to change over following a plan</li>
</ul>
Bei den Werten ist hierbei Folgendes zu beachten: Die Aussage A over B bedeutet ausdrücklich nicht, dass aufB verzichtet werden kann, sondern das A einen höheren Stellenwert als B haben sollte. So ist es ein Missverstehen agiler Ansätze, wenn mit Verweis aufAgilität argu- mentiert wird, dass in einem Projekt keine Dokumentation erstellt wurde. Ergänzt werden diese „agilen“Werte durch sogenannte Prinzipien, wie Zweckmäßigkeit, Kundennähe oder dass der Code „allen“ (im Projekt) gehört. In jedem Fall lässt Agilität viel Spielraum

Die agile Entwicklung sieht ein inkrementelles Vorgehen vor:
Beim inkrementellen Vorgehen wird zuerst nur ein eingeschränkter Kern der Funktionalität des angestrebten Systems entwickelt und dann schrittweise weiter ausgebaut und vervollständigt. Dadurch werden die Risiken in der Systementwicklung begrenzt und der Entwicklungsfortschritt überprüfbar gehalten. Auch die Kontrolle von Kosten ist bei einem inkrementellen Vorgehen relativ einfach umzusetzen.
Ein wichtiger Aspekt der inkrementellen Entwicklung betrifft die Wahl der zeitlichen Abstände der Fertigstellung einzelner Ausbaustufen. In extremen Ansätzen werden täglich neue lauffähige Versionen erstellt, die parallel auf ihre Nutzbarkeit untersucht werden. Natürlich kann man die Abstände auch größer wählen. Die Idee des inkrementellenVorgehens kann aufdas gesamte Vorgehen in Projekten Anwendung finden, aber auch innerhalb einzelner Entwicklungsphasen angewandt werden. So können etwa Anfor- derungen oder die Architektur inkrementell entwickelt werden."
</p>
    Quelle: Broy, M. und M. Kuhrmann (2014). “3. Projekt- und Produktlebenszyklus von Software”. In: Projektorganisation und Management im Software Engineering
</div>
</body>
</html>