<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algorithmische Schätzung</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Algorithmische Schätzung</h1>
    <p>Kosten werden aus Größen berechnet, die frühzeitig bekannt sind oder leichter und genauer als der Aufwand geschätzt werden können.
    Algorithmisches Schätzmodell:
    Allen Rechnungen liegt die geschätzte Programmgröße S, angegeben in DSI oder KDSI (Thousands of Delivered Source Instructions), zu Grunde. Mit Formeln, die aus großen Mengen archivierter Projektdaten abgeleitet werden, können daraus der Aufwand und die Entwicklungsdauer errechnet werden. Spezielle günstige oder ungünstige Umstände, z. B. extreme Sicherheitsanforderungen oder ein überdurchschnittlich erfahrenes Projektteam, können durch Einflussfaktoren berücksichtigt werden, deren Werte man umfangreichen Tabellen entnimmt.
    </p>
</div>
Quelle: Ludewig, Jochen und Horst Lichter (2010). Software Engineering: Grundlagen, Menschen, Prozesse, Techniken.
</body>
</html>