<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytical Hierarchy Process</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Analytical Hierarchy Process</h1>
    <p>Der Analytic Hierarchy Process (AHP) ist auch als paarweiser Vergleich bekannt allerdings ist dieser Begriff etwas irreführend, da der paarweise Vergleich nicht nur im AHP vorkommt, sondern auch von anderen Techniken verwendet wird, wie z. B. Bubble sort und Binary priority list. Die Grundidee von AHP ist die Berechnung der Prioritäten von
Anforderungen zu berechnen, indem alle eindeutigen Anforderungspaare verglichen werden, um ihre relative Wichtigkeit abzuschätzen. Mit anderen Worten: Die Person, die den Vergleich durchführt, muss anhand einer Skala von 1-9 entscheiden, welche Anforderung wichtiger ist und in welchem Umfang.
Die für die Priorisierung mit AHP erforderlichen Schritte sind die folgenden:
<ol>
   <li>Erstellen Sie eine n×n-Matrix (n ist die Anzahl der Anforderungen) und fügen Sie die n Anforderungen in die Zeilen und Spalten der Matrix ein.</li>
   <li>Für jedes eindeutige Anforderungspaar, z. B. A und B, fügen Sie deren relative Wichtigkeit in die Position ein, in der die Zeile von A auf die Spalte B trifft. Gleichzeitig werden die reziproken Werte in die transponierten Positionen eingefügt (z. B. wenn Zelle AB=4 dann Zelle BA=1/4).</li>
   <li>Um schließlich die relative Priorität jeder Anforderung zu erhalten, berechnen Sie die Eigenwerte der resultierenden Vergleichsmatrix. Das Endergebnis sind also die relativen Prioritäten der Anforderungen (z. B. A=50%, B=12% und C=38%).</li>
</ol>
</p>
</div>
Quelle: Vestola, Mikko (o. D.). “A Comparison of Nine Basic Techniques for Requirements Prioritization”.
</body>
</html>