{% extends "vorlage.html" %}
{% block title %}Ihr Vorgehensmodell{% endblock %}
{% block headingleft %}Gewählte Kriterien{% endblock %}
{% block leftdiv %}
        <p width="180px">Projektgröße: {{projektgroeße}}</p>
        <p width="180px">Komplexität: {{komplexitaet}}</p>
        <p width="180px">Projektdauer: {{projektdauer}}</p>
        <p width="180px">Klarheit der Anforderungen: {{klarheit_anforderungen}}</p>
        <p width="180px">Einsatzzeit der Mitarbeiter: {{einsatz}}</p>
        <p width="180px">Höchste Erfahrungsstufe im Team: {{erfahrung}}</p>
        <p width="180px">Bedeutung für das Unternehmen: {{bedeutung}}</p>
        <p width="180px">Zeitkritikalität: {{zeitkritikalitaet}}</p>
        <p width="180px">Verteilung der Projektbeteiligten: {{verteilung}}</p>
        <p width="180px">Stabilität der Anforderungen: {{stabilitaet}}</p>
        <p width="180px">Qualifikation der Mitarbeiter: {{qualifikation}}</p>
{% endblock %}

{% block headingright %}Getailortes Vorgehensmodell{% endblock %}
{% block rightdiv %}
    <div style="float: left">
        <h2 align="center">Vorgehensschritt</h2>
        <ul class="list-group" width="180px">
            {% for key,value in vorgehensmodell.items() %}
              <li class="list-group-item" style="color: #222222" width="180px" > {{key}} </li>
            {% endfor %}
        </ul>
    </div>

    <div style="float: right">
        <h2 align="center">Methode</h2>
        <ul class="list-group" width="180px">
            {% for key,value in vorgehensmodell.items() %}
                <li class="list-group-item" style="color: #222222" width="180px" ><a href="http://127.0.0.1:5000/{{value.replace(" ", "_")}}"> {{value}} </a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
