<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beobachtungstechnik</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Beobachtungstechnik</h1>
    <p>"Bei Beobachtungstechniken werden Stakehol- der, die Geschäftsprozesse ausführen, durch den Requirements Engineer beobachtet. Der Stakeholder ist dabei passiv und wird nur beobachtet oder ist aktiv und zeigt und erklärt dem Requirements Engineer, was er tut. Es besteht allerdings die Gefahr, das das Ist- System dokumentiert wird. Der Requirements Engineer muss daher darauf achten, ineffiziente Prozesse zu erkennen und Verbesserun- gen vorzuschlagen. Bei allen Beobachtungstechniken ist zu berück- sichtigen, dass sich das Verhalten des Beobachteten alleine durch die Beobachtungssituation ändert. Zwei Beobachtungstechniken werden oft eingesetzt:
Die Feldbeobachtung: Die Arbeit des Benutzers wird bezogen auf seine Tätigkeiten, seine Handgriffe und seine Zeitabläufe – evtl. mit Videoaufzeichnung – beobachtet.
Die Lehrlingsrolle (apprenticing):Der Requirements Engineer erlernt unter der Anleitung des Benutzers dessen Tätigkeiten. Auch schwer beobachtbare Arbeitsabläufe werden dadurch trans- parent."
</p>
</div>
Balzert, Prof. Dr. Helmut (2009). “24 Anforderungen priorisieren”. In: Lehrbuch der Softwaretechnik: Basiskonzepte und Requirements Engineering.
</body>
</html>