<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bubble sort</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Bubble sort</h1>
    <p>Paarweises Vergleichen von Anforderungen
        <ol>
            <li>Stellen Sie die Anforderungen in einer senkrechten Spalte dar. </li>
            <li>Vergleichen Sie die beiden obersten Anforderungen aus der Spalte miteinander, um festzustellen, welche die wichtigste ist. Wenn die untere Anforderung wichtiger ist als die obere, tauschen Sie ihre Positionen.</li>
            <li>Wiederholen Sie diesen paarweisen Vergleich und das Vertauschen für die zweite und dritte Anforderung, dann für die dritte und vierte Anforderung und so weiter, bis das Ende der Spalte erreicht ist.</li>
            <li>Wenn eine der Anforderungen während der Schritte 2 und 3 verschoben wurde, wiederholen Sie den Vorgang für die gesamte Spalte, beginnend mit den beiden obersten Anforderungen (Schritt 2). Wiederholen Sie diesen Vorgang so lange, bis bei einem kompletten Durchlauf durch die Spalte keine Anforderungen mehr verschoben werden, was bedeutet, dass die Anforderungen nun in der Prioritätsreihenfolge stehen </li>
        </ol>
</p>
</div>
Quelle: Vestola, Mikko (o. D.). “A Comparison of Nine Basic Techniques for Requirements Prioritization”.
</body>
</html>