<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Burndown Chart</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Burndown Chart</h1>
    <p>Burn-Charts zeigen eine visuelle Repräsentation des aktuellen Status und des Arbeitsfortschritts, insbesondere
        <ul>
            <li>wie viel und wie schnell Arbeit in der Vergangenheit verrichtet wurde,</li>
            <li>wie viel Arbeit noch zu erledigen ist und</li>
            <li> wann die Arbeiten insgesamt fertig werden, also wann ein Projekt bzw. die Iteration eines Projekts voraussichtlich fertig sein wird.</li>
        </ul>
    Ein Team von Entwicklern arbeitet beispielsweise an einem Projekt, der Arbeitsaufwand wird auf der Y-Achse eines Burn-Charts aufgetragen, und das Team „brennt“ sozusagen durch die Arbeit, bis alle Arbeitspakete ab- geschlossen werden und eine Iteration bzw. das ganze Projekt fertig ist.</p>
</div>
</body>
Quelle: Schatten, Alexander et al. (2010). Best Practice Software-Engineering.
</html>