<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cumulative Voting</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Cumulative Voting</h1>
    <p>Die Grundidee ist, dass die an der Priorisierung teilnehmenden Stakeholder eine Anzahl von imaginären Einheiten (100 Dollar, 1000 Punkte usw.) erhalten, die auf die zu priorisierenden Anforderungen verteilt werden. Die Anzahl der Einheiten, die einer Anforderung zugewiesen werden, stellt ihre Priorität dar. Die Ergebnisse werden auf einer Verhältnisskala dargestellt, die Aufschluss darüber gibt, wie viel eine Anforderung mehr/weniger wichtig ist als eine andere. </p>
</div>
</body>
Quelle: Vestola, Mikko (o. D.). “A Comparison of Nine Basic Techniques for Requirements Prioritization”.
</html>