<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Earned Value Analyse</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Algorithmische Schätzung</h1>
    <p>Die „Earned Value“-Analyse besteht aus der Erhebung und Berechnung der Leistungskennzahlen eines Projektes und versucht, die drei Elemente des „magischen Dreiecks“ Zeit, Kosten und Ziele gleichzeitig in die Projektbeurteilung einfliessen zu lassen. Dies geschieht über die Berechnung der folgenden Grössen:
        <ul>
        <li>geplanter Wert (planned value),</li>
        <li>erbrachter Wert (earned value), </li>
        <li>aktuelle Kosten (budget burned).</li>
        </ul>
    Die Summe aller geplanten Aufwände der abgeschlossenen Arbeiten ist bei der Earned Value Methode ein Mass für die erzielte Wertschöpfung und den er- reichten Projektstand. Die Arbeitspakete fliessen erst dann mit ihrem Planauf- wand ein, wenn die entsprechenden Arbeiten abgeschlossen sind (0/100% Re- gel). Ein höherer Ist-Aufwand wird hier nicht berücksichtigt. Dauerarbeitspakete wie Projektmanagement fliessen aufgeteilt z.B. pro Monat mit ihrem Planaufwand ein. Halbfertige Arbeiten zählen nicht, da noch keine echte Wertschöpfung verfügbar ist.
    Voraussetzungen für die Anwendung dieser Methode sind: ein funktionierendes operatives Projektmanagement, Projektplanung bis auf Stufe Arbeitspakete, eine klare Abgrenzung der Arbeitspakete, eine gute Aufwandschätzung, Einfrieren der Plandaten als Basisplan, regelmässige Statusrückmeldungen. Die Arbeitspakete sollten nicht zu gross geplant werden (2–20 Personentage). Vorteile dieser Methode sind, dass Schätzfehler bei der Terminanalyse nicht ins Gewicht fallen. Die Methode ist konservativ und in den meisten Fällen ziemlich realis- tisch. Der Betrachtung kann sowohl mit Kosten als auch Personentagen durch- geführt werden.
    </p>
</div>
Quelle: Kuster, Jürg et al. (2011). Handbuch IT-Projektmanagement.
</body>
</html>