<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expertenschätzung</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Expertenschätzung</h1>
    <p>Bei großer Unsicherheit bezüglich der Aufwandschätzung sind Expertenbefragungen verbreitet. Die Delphi-Methode befragt mehrere Experten unabhängig voneinander. Die unterschiedlichen Schätzwerte werden allen anonym vorgelegt. In weiteren Runden nutzen die Experten die Möglichkeit, ihre Argumente bekannt zu geben und ihre Werte noch anzupassen, bevor die Gruppenmeinung formuliert wird. Eine andere zweckmäßige Vorgehensweise ist die Schätzklausur. Hier kommen alle ausführenden Fachspezialisten vorbereitet zusammen und geben ihre Werte und Argumente bekannt. Dadurch findet ein willkommener gruppendynamischer Prozess statt, der vom Projektleiter moderiert wird. Ziel einer Schätzklausur ist es, am Schluss eine konsolidierte Schätzung zu haben, bei welcher die Fachspezialisten einen Konsens erreichen.
    </p>
</div>
Quelle: Kuster, Jürg et al. (2019). “2. Methodik”. In: Handbuch Projektmanagement.
</body>
</html>