<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formale Spezifikation</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Formale Spezifikation</h1>
    <p>Für viele forschende Informatiker, die nach einer präzisen, eindeutigen und den mathematischen Methoden zugänglichen Spezifikation streben, liegt die Lösung in der Formalisierung. Deren Vorteile sind offensichtlich: Unklarheiten und Missverständnisse sind ausgeschlossen, eine Implementierung kann mit mathematischen Methoden (und das heißt praktisch auch: automatisch oder mit Rechnerunterstützung) auf Konsistenz mit der Spezifikation, also auf Korrektheit, geprüft werden. Selbst wenn sich die formalen Techniken nicht auf jede Software anwenden ließen, wäre es eine erhebliche Verbesserung, wenn sie für größere Bereiche der Software-Entwicklung tauglich würden; beispielsweise könnten viel benutzte Modul- oder Klassenbibliotheken formal spezifiziert, verifiziert und dann risikolos in andere Software eingebunden werden. Schon in den Sechzigerjahren wurde auf diesem Gebiet gearbeitet. Waren die Notationen und
Techniken der ersten Jahrzehnte, z. B. die Vor- und Nachbedingungen einzelner Anweisungen oder die Petri-Netze zur Beschreibung nebenläufiger Algorithmen, noch ungeeignet, um die Komplexität realer Programme in den Griff zu bekommen, sind etwa seit den Achtzigerjahren Modellierungen entstanden, die vor allem durch hierarchische Beschreibungen einen großen Schritt in Richtung Praxis gemacht haben. Zwei bekannte Beispiele sind die State Charts (Harel, 1987) und die Notationen auf der Grundlage von Mengen und Relationen.Als Prüfmittel sind sogenannte Model Checker entstanden, die mit beträchtlichem Rechenaufwand gewisse Eigenschaften von Modellen bestätigen oder widerlegen können (von Clarke, Emerson und Sifakis, die dafür 2004 mit dem Turing-Award ausgezeichnet wurden).
</p>
</div>
Quelle: Ludewig, Jochen und Horst Lichter (2010). Software Engineering: Grundlagen, Menschen, Prozesse, Techniken.
</body>
</html>