<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gantt Diagramm</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Gantt Diagramm</h1>
    <p>Der Balkenplan (auch: Gantt-Diagramm oder Gantt-Chart) stellt die einzelnen Vorgänge untereinander angeordnet als Balken aufeiner horizontalen Zeitleiste dar, sodass für jeden Vorgang dessen Dauer und zeitliche Lage leicht abgelesen werden können. Das Prinzip des Balkenplans ist in Abb. 10.8 dargestellt. Anders als beim Netzplan werden beim Balkenplan nicht unbedingt Abhängigkeiten
der Vorgänge untereinander ausgewiesen. Zwar können auch hier mithilfe handelsüblicher Planungssoftware gegenseitige Abhängigkeiten durch Pfeile abgebildet werden, welche von Vorgang zu Vorgang führen. In vielen Fällen sind diese Abhängigkeiten jedoch nicht eindeutig zuzuordnen – nämlich immer dann, wenn Pfeile aus mehreren Vorgängen heraus in wiederum mehrere Folgevorgänge führen.</p>
</div>

</body>
</html>