<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grafische Spezifikation mit UML</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Algorithmische Schätzung</h1>
    <p>UML bietet eine Reihe von Notationen, die in der Analyse verwendet werden können, insbesondere die Anwendungsfalldiagramme; massiv unterstützt wird jedoch erst der Entwurf. </p>
</div>
Quelle: Ludewig, Jochen und Horst Lichter (2010). Software Engineering: Grundlagen, Menschen, Prozesse, Techniken.
</body>
</html>