<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hierarchical cumulative voting</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Hierarchical cumulative voting</h1>
    <p>Die Idee von HCV ist im Grunde die gleiche wie die hinter CV. Mit anderen Worten: Wie bei CV erfolgt die Priorisierung bei HCV durch die Vergabe von Punkten an Anforderungen. Allerdings werden bei HCV nicht alle Anforderungen gleichzeitig priorisiert. Stattdessen werden die Anforderungen verschiedenen Hierarchieebenen zugeordnet und die Priorisierung wird nur innerhalb jeder Hierarchieebene durchgeführt. Abbildung 2 zeigt ein Beispiel für die Verwendung von HCV. Anstatt wie in CV alle fünf Low-Level-Anforderungen gleichzeitig zu priorisieren, werden die Anforderungen in zwei Priorisierungsblöcke unterteilt. Außerdem werden nur Anforderungen innerhalb eines Priorisierungsblocks gemeinsam priorisiert</p>
</div>
</body>
Quelle: Vestola, Mikko (o. D.). “A Comparison of Nine Basic Techniques for Requirements Prioritization”.
</html>