<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kreativitätstechnik</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Kreativitätstechnik</h1>
    <p>Um auf innovative Ideen zu kommen und um eine erste Vision Neue Ideen
        von einem System zu entwickeln, eignen sich Kreativitätstechniken. Einen Überblick über solche Techniken finden Sie im im »Lehrbuch der Softwaretechnik Softwaremanagement«. Das Ergebnisse der Anforderungsermittlung können folgende Artefakte sein:
        <ul>
            <li>Notizen</li>
            <li>Interviewprotokolle</li>
            <li>Audioaufzeichnungen</li>
            <li>Videos usw</li>
        </ul>
</p>
</div>
Balzert, Prof. Dr. Helmut (2009). “24 Anforderungen priorisieren”. In: Lehrbuch der Softwaretechnik: Basiskonzepte und Requirements Engineering.
</body>
</html>