<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#222222; color: white">
    <div align="left">
        <form action = "http://127.0.0.1:5000/anzeige" method = "post" >
            {% for element in kriterienauswahl %}
            <div class="form-row align-items-center">
                    <div class="col-auto my-1"> {{element}}
                        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">{{element}}</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="{{element}}">
                                {% for value in kriterienauswahl[element] %}
                            <option value={{value}}>{{value}}</option>
                                {% endfor %}
                            </select>
                   </div>
            </div>
            {% endfor %}

            <button type="submit" >Bestätigen</button>
        </form>


    </div>
    <div align ="right">
        <h1>Informationen</h1>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>