{% extends "vorlage.html" %}
{% block title %}Kriterienwahl{% endblock %}
{% block headingleft %}Kriterienauswahl{% endblock %}
{% block leftdiv %}
<form action = "http://127.0.0.1:5000/kriterienwahl" method = "post" >
    {% for element in kriterienauswahl %}
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" style="width: 180px;" title="{{beschreibung[element]}}">{{element}}</button>
            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">{{element}}</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name='{{element}}' style="width: 180px;">
                {% for value in kriterienauswahl[element] %}
                <option value="{{value}}">{{value}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endfor %}
    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
    </script>
    <button type="submit" class="btn btn-primary" style="background-color: ghostwhite; border-color: ghostwhite; color: black">Bestätigen</button>
</form>
{% endblock %}
{% block headingright %}{% endblock %}
{% block rightdiv %}{% endblock %}



