<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lastenheft</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Lastenheft</h1>
    <p>"Das Lastenheft beschreibt die Gesamtheit der Anforderungen des Auftraggebers an die Lieferungen und Leistungen eines Auftragnehmers.
Die Anforderungen in einem Lastenheft sollten so allgemein wie möglich und so einschränkend wie nötig formuliert werden. Hierdurch hat der Auftragnehmer die Möglichkeit, eine passende Lösung (z. B. eine Software) zu erarbeiten, ohne in seiner Lösungskompetenz durch zu konkrete Anforderungen eingeschränkt zu sein.
Das Lastenheft kann der Auftraggeber in einer Ausschreibung verwenden und an mehrere mögliche Auftragnehmer verschicken. Diese erstellen jeweils ein Pflichtenheft, welches in konkreterer Form beschreibt, wie sie die Anforderungen im Lastenheft zu lösen gedenken. Der Auftraggeber wählt dann aus den Vorschlägen der möglichen Auftragnehmer den für ihn geeignetsten aus."
</p>
</div>
Quelle: Maik Pfingsten: Erfolgreich Lastenhefte schreiben. 2. Auflage. Norderstedt 2016 <br>
Wikipedia

</body>
</html>