<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matrix Projektorganisation</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Matrix Projektorganisation</h1>
    <p>Die Matrix-Projektorganisation ist eine Mischform zwischen Projektleitung und organisatorischer Unternehmensstruktur. Die Teammitglieder unterstehen der fachlichen Leitung des Projektleiters, disziplinarisch den Linienvorgesetzten.</p>
</div>
Quelle: Schatten, Alexander et al. (2010a). Best Practice Software-Engineering.
</body>
</html>