<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meilensteintrendanalyse</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Meilensteintrendanalyse</h1>
    <p>Die Meilenstein-Trendanalyse (MTA) zeigt auf, welche zeitliche Entwicklung sich im Projekt abzeichnet. Voraussetzung dafür ist die Definition einer ausreichenden Zahl von Meilenstein-Terminen für das zu beurteilende Projekt. Diese Termine werden in regelmässigen Abständen auf ihre Erreichbarkeit überprüft und in einem Koordinatensystem übertragen.
Daraus ergibt sich für jeden Meilenstein eine Prognosekurve, die idealerweise horizontal verläuft (keine Abweichung). Der erfahrene Projektmanager kann aus dem Verlauf der Kurven eine Prognose für den zukünftigen Verlauf erstellen und zu erwartende Probleme rechtzeitig erkennen. Ihren besonderen Wert erhält die Meilenstein-Trendanalyse aus der Kombination von Rückblick auf erreichte Ergebnisse und Ausblick auf noch zu erbringende Leistungen.
</p>
</div>
Quelle: Kuster, Jürg et al. (2011). Handbuch IT-Projektmanagement.
</body>
</html>