<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minimal spanning tree</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Minimal spanning tree</h1>
    <p>Die Grundidee der Minimal-Spanning-Tree-Methode ist, dass alle redundanten Vergleiche aus dem AHP (z. B. der Vergleich von A mit C im vorherigen Beispiel) überhaupt nicht durchgeführt werden. Dadurch reduziert sich die Anzahl der Vergleiche drastisch auf nur n - 1 im Vergleich zu n ∗ (n - 1)/2, die bei AHP erforderlich sind. Die erforderlichen Vergleiche können durch die Erstellung eines minimalen Spannbaums aus den Anforderungen konstruiert werden. Diese reduzierte Anzahl von Vergleichen reicht immer noch aus, um die relative Intensität der Wichtigkeit zwischen den Anforderungen zu berechnen. Allerdings verschwindet die Fähigkeit, inkonsistente Urteile zu identifizieren.</p>
</div>
</body>
Quelle: Vestola, Mikko (o. D.). “A Comparison of Nine Basic Techniques for Requirements Prioritization”.
</html>