<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natürlichsprachige Spezifikation mit Sprachschablonen</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Natürlichsprachige Spezifikation mit Sprachschablonen</h1>
    <p>In der natürlichen Sprache gibt es eine ganze Reihe von Wörtern und Formulierungen, die keine
konkrete Bedeutung haben. Wenn man Wörter wie »sehr«, »meistens« oder »im Allgemeinen« verbietet, ebenso Formulierungen im Passiv oder Konjunktive wie »könnte«, hat man bereits einige Probleme vermieden. Ebenso kann man Textstellen erkennen, die höchstwahrscheinlich Unklarheiten erzeugen, beispielsweise das Wort »alle«.
Ein konstruktiver Ansatz ist die Verwendung von Sprachschablonen: Die Spezifikation wird in einer sehr eingeschränkten natürlichen Sprache verfasst. Dadurch ist eine Kommunikation ohne Missverständnisse zwar nicht garantiert, aber wahrscheinlicher geworden. Wir alle kennen dieses Prinzip aus Gesetzen und anderen Regelwerken, beginnend mit den zehn Geboten (»Du sollst ...«). Solche Schablonen führen zwar zu einer sehr eintönigen Spezifikation, die von literarischer Qualität noch weiter entfernt ist als andere technische Texte. Dafür ist der Sinn der Aussagen klar definiert.</p>
</div>
Quelle: Ludewig, Jochen und Horst Lichter (2010). Software Engineering: Grundlagen, Menschen, Prozesse, Techniken.
</body>
</html>