<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Netzpläne</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Netzpläne</h1>
    <p>Der Netzplan stellt die gegenseitigen Abhängigkeiten der einzelnen Vorgänge in den Vordergrund und zwingt den Planer zu Vollständigkeit und Genauigkeit in der Planung. </p>
</div>
Quelle: Felkai, Roland und Beiderwieden, Arndt (2011). Projektmanagement für technische Projekte.
</body>
</html>