<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Numeral assignment</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Numeral assignment</h1>
    <p>Die Anzahl der Prioritätsgruppen kann variieren, aber drei Gruppen ist vielleicht die gängigste Einteilung. Prioritätsgruppen können einfach Prioritätsnummern von 1 bis 3 sein oder sie können z. B. als "hoch", "mittel" und "niedrig" bezeichnet werden. Das Ergebnis dieser Technik ist eine Sammlung von Anforderungen, die in verschiedene Prioritätsgruppen eingeteilt sind. Alle Anforderungen in einer Prioritätsgruppe haben die gleiche Priorität. Die MoSCoW-Technik ist ein Beispiel für eine Zahlenzuweisungstechnik. Sie definiert vier Prioritätsgruppen: "MUST have", "SHOULD have", "COULD have" und "WON't have". </p>
</div>
</body>
Quelle: Vestola, Mikko (o. D.). “A Comparison of Nine Basic Techniques for Requirements Prioritization”.
</html>