<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pflichtenheft</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Pflichtenheft</h1>
    <p>Das Pflichtenheft beschreibt in konkreter Form, wie der Auftragnehmer die Anforderungen des Auftraggebers zu lösen gedenkt – das sogenannte wie und womit. Der Auftraggeber beschreibt vorher im Lastenheft möglichst präzise die Gesamtheit der Forderungen – was er entwickelt oder produziert haben möchte. Erst wenn der Auftraggeber das Pflichtenheft akzeptiert, sollte die eigentliche Umsetzungsarbeit beim Auftragnehmer beginnen.</p>
</div>
Quelle: Thomas Fittkau et. al. (2008). Ganzheitliches IT-Projektmanagement. Wissen, Praxis, Anwendungen. Oldenbourg, München. <br>
Wikipedia

</body>
</html>