<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Backlog</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Product Backlog</h1>
    <p> Der Product Backlog enthält alle (bis zum jeweiligen Zeitpunkt) bekannten Anforderungen an die Software und wird durch den Product Owner erstellt und gepflegt. <br>
        Der Inhalt und die Priorisierung dieses Product Backlogs ändert sich während des Projektes laufend. Dadurch kann einfach und flexibel auf Änderungen eingegangen werden.</p>
</div>
Quellen: Broy, M. und M. Kuhrmann (2014). “3. Projekt- und Produktlebenszyklus von Software”. In: Projektorganisation und Management im Software Engineering <br>
Kuster, Jürg et al. (2019). “2. Methodik”. In: Handbuch Projektmanagement.
</body>
</html>