<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projektstrukturplan</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Projektstrukturplan</h1>
    <p>Der Projektstrukturplan (PSP), auch Work Breakdown Structure (WBS) genannt, besteht aus einer Aufgliederung der Arbeit in Arbeitspakete und Attribute, die diese Arbeitspakete näher zu beschreiben. Durch eine Top-down-Analyse des Arbeitsaufwands eines Projekts wird ein abstraktes
Arbeitspaket, das den Gesamtaufwand repräsentiert, in kleinere Unterpakete aufgeteilt (breakdown). Dadurch ergibt sich eine hierarchisch geordnete Struktur, in der jedem Arbeitspaket eine eindeutige geordnete Nummer (z. B. 1, 2, 3) und ein Prozentsatz des Aufwands zugeteilt wird. Der PSP ist vor allem für das Projektmanagement relevant (siehe Abschnitt 4.3.5). Auf oberster Ebene sowie in jeder weiteren Verfeinerungsstufe muss der Aufwand aller Pakete insgesamt den Gesamtaufwand (100% der Arbeit) des Projekts ergeben. Durch diese sogenannte 100%-Regel beschreibt jede Ebene den gesamten Umfang der Arbeit. Jede weitere Ebene verfeinert die Aufteilung der Pakete und lässt eine genauere Schätzung des Aufwands für jedes einzelne Arbeitspaket zu.</p>
</div>
Quelle: Schatten, Alexander et al. (2010). Best Practice Software-Engineering.
</body>
</html>