<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reine Projektorganisation</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Reine Projektorganisation</h1>
    <p>Eine reine Projektorganisation ist eine bewährte Form für die Umsetzung eines Software-Projekts. Die Teammitglieder werden aus den ursprünglichen Strukturen herausgelöst und in ein (unabhängiges) Entwicklerteam unter der Leitung des Projektleiters integriert. Nach Abschluss des Projekts werden die Teammitglieder wieder in die ursprünglichen Strukturen „zurück gegeben“ und stehen für neue Aufgaben zur Verfügung</p>
</div>
Quelle: Schatten, Alexander et al. (2010). Best Practice Software-Engineering.
</body>
</html>