<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staborganisation</title>
</head>
<body style="background-color:#222222; color: white">
<div style="float: left">
    <h1>Algorithmische Schätzung</h1>
    <p>Bei einer Stab-Projektorganisation bleiben die organisatorischen
Strukturen des Unternehmens erhalten. Die Teammitglieder verblei- ben in der ursprünglichen Struktur, der Projektleiter übernimmt koordinierende Aufgaben. Diese Projektorganisation ist eher problematisch, da seitens des Projektleiters keine direkte Entscheidungs- und Weisungsbefugnis (organisatorische Grenzen) vorhanden ist.</p>
</div>
Quelle: Schatten, Alexander et al. (2010). Best Practice Software-Engineering.
</body>
</html>